.active-conv {
    background: var(--white);
    border-color: rgba(var(--primary-rgb), 0.1) !important;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05);
}

:host-context(.dark) .active-conv {
    background: var(--surface-hover);
    border-color: rgba(99, 102, 241, 0.2) !important;
}

.font-sora {
    font-family: 'Sora', sans-serif;
}